.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 0;

//   button {
//     padding: 8px 16px;
//     cursor: pointer;
//     border: 1px solid #ccc;
//     background: #f0f0f0;
//     border-radius: 4px;

//     &:hover {
//       background: #e0e0e0;
//     }
//   }
}
